@font-face {
  font-family: myFont;
  src: url(Outfit-VariableFont_wght.ttf);
}
#body {
  background-color:hsl(212, 45%, 89%)
}
.text {
  text-align: center;
  font-family: myFont;
}
#Text1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  
}
#Text2 {
  font-weight: 400;
  color: hsl(220, 15%, 55%)
}
#img{
  max-width: 100%;
  border-radius: 20px;
}

#white {
  background-color: white;
  background-position: top center;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  padding: 20px;
  margin: 10px auto;
}
